.songs {
    color: #ffffff;
    background-color: rgb(142, 164, 210, .8);
    margin: 3px;
}

audio {
    width: 150px;
}

.addPlaylist {
    width: 70vw;
    background-color: #49516F;
    margin: 20px;
    padding: 20px;
    color: white;
}

.text {
    margin: 10px;
    width: 40vw;
}

.button {
    width: 20vw;
}

.playlist-title {
    background-color: #49516F;
    padding-left: 60px;
    color: white;
}