.inline {
    display: inline-block;
    width: 70vw;
}

.center {
    text-align: center;
    width: 70vw;
}

.logo {
    height: 150px;
}

.color {
    background-color: #49516F;
}

.title {
    font-family: 'Press Start 2P', cursive;
}