<div class="d-flex justify-content-center">
<div class="form-group login">
<form (submit)="signUpUser($event)">
    <input type="text" placeholder="First Name" id="firstName" class="form-control"><br>
    <input type="text" placeholder="Last Name" id="lastName" class="form-control"><br>
    <input type="text" placeholder="Username" id="username" class="form-control"><br>
    <input type="password" placeholder="Password" id="password" class="form-control"><br>
    <input type="password" placeholder="Verify Password" id="verifyPassword" class="form-control"><br>
    <input type="submit" value="Submit">
</form>
</div>
</div>