.center {
    text-align: center;
    line-height: 30px;
}

.center img {
    margin: 20px;
}

button {
    margin: 10px;
}

.main {
    background-image: url("/assets/background.jpg");
    background-repeat: x;
}

.results {
    background-color: white;
    opacity: 0.8;
    color: black;
    margin: 5px;
}

