.center {
    text-align: center;
    line-height: 30px;
}

.center img {
    margin: 20px;
}

button {
    margin: 10px;
}

.main {
    // background-color: #49516F;

}

.results {
    background-image: url("/assets/background.jpg");
    color: white;
    border: 3px solid #49516F;
}

.top {
    background-image: url("/assets/background.jpg");
    color: white;
    height: 180px;
}

audio {
    width: 150px;
}

#searchBox {
    max-width: 600px;
}

#submit {
    max-width: 300px;
}

