<div class="d-flex justify-content-center">
  <div class="searchbox">
      <label class="" for="search">Search for: </label>
      <input class="text" type="text" id="searchBox" placeholder="Song Name" [(ngModel)]="searchText"><button class="button submit" (click)="search()">Search</button>
  </div>
</div>
    

<div class="main container">
  <div class="container-fluid row">
    <div class="col-sm-12 col-md-6 col-lg-4 center box results" *ngFor='let result of results'>
      <img [src]="result.album.cover_medium">
      <p>Song Name: {{result.title | text}}</p>
      <p>Artist: {{result.artist.name | text}}</p>
      <p>Album: {{result.album.title | text}}</p>
       
      <audio controls>
        <source [src]="result.preview" type="audio/mp3">
      </audio><br>

      <select placeholder="Add to Playlist" [(ngModel)]="selectedPlaylist">
          <option *ngFor="let playlist of playlistList" [value]="playlist.name">{{playlist.name}}</option>
      </select>
      <button (click)="playlist(result, selectedPlaylist)">Add to Playlist</button><br>
      <button (click)="userFav(result)">Add to Favorites</button><br>

    </div>
  </div>