<div class="main container">
<div class="col-9 row-lg-6 form-group"><br>
    <label class="" for="search">Search for: </label>
    <input class="form-control" type="text" id="searchBox" placeholder="Song Name" [(ngModel)]="searchText">
  </div>
  
  <div class="col-4 row-lg-6 form-group">
    <input id="submit" class="submit form-control" type="submit" value="submit" (click)="search()">
  </div>

<div class="container row">
  <div class="col-sm-12 col-md-6 col-lg-4 center" *ngFor='let result of results'>
    <img [src] = "result.artworkUrl100">
    <p>Song Name: {{result.trackName}}</p>
    <p>Artist: {{result.artistName}}</p>
    <p>Album: {{result.collectionName}}</p>
    <audio controls>
      <source [src]="result.previewUrl" type="audio/m4a">
    </audio><br>
  <button (click)="playlist(result)">Add to Playlist</button><button (click)="favorites(result)">Add to Favorites</button><br>
    
  </div>
</div>