.center {
    text-align: center;
    line-height: 30px;
}

.center img {
    margin: 20px;
}

button {
    margin: 10px;
}

.results {
    background-color: rgba(73,81,111,0.6);
    color: white;
    border: 3px solid black;
}

.top {
    color: white;
}

.inside {
    width: 50vw;
    margin-left: 15vw;
}

audio {
    width: 300px;
}

#searchBox {
    max-width: 600px;
}

#submit {
    max-width: 300px;
}

.searchbox {
    width: 70vw;
    background-color: #49516F;
    margin: 20px;
    padding: 20px;
    color: white;
}



.text {
    margin: 10px;
    width: 40vw;
}

.button {
    width: 10vw;
}
